{% extends "layout.html" %}
{% block body %}


<!-- Page Header-->
<header class="masthead" style="background-image: url(' {{url_for('static',filename='assets/img/about-bg.jpg')}}  ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-x
                        <div class=" page-heading>
                <h1 style="color:#fff">Hotel MDN</h1>
                <span class="subheading" style="color:#fff">Hotel MDN is a commercial establishment that provides lodging, meals, and other services to guests, travelers, and tourists. Hotels can range from small family-run businesses to large international chains. Our most hotels list a variety of services, such as room service, laundry, and concierge.</span>
            </div>
        </div>
    </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>As a commercial enterprise, hotels are also dependent on advertising and on potential customers becoming aware of their hotel and booking it. Therefore, most hotels are also represented on the Internet. Often with their own website and on hotel search and booking portals as well as on blogs, yellow pages and online industry directories. Here it is important to present the hotel appealingly and to provide it with good descriptions of hotels. <br>To have a successful hotel business in the modern age, it is essential to have a strong online presence. Guests expect to be able to find information describing a hotel online, and they will often make their decision about where to stay based on what they find.</p>
            </div>
        </div>
    </div>
</main>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>

</html>

{% endblock %}